* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    background-color: #f4f4f4;
    color: #333;
    padding: 32px;
}

header {
    padding: 32px;
    background-color: #0066B3;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
}

.icon {
    font-family: 'Material Icons Outlined';
    font-size: 24px;
    color: inherit;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.theme-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 16px;
    padding: 24px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    margin-top: 16px;
}


.default-theme {
    background-color: #f4f4f4;
    color: #333;
}

.default-theme header, .default-theme footer {
    background-color: #0066B3;
}

/* Tema Escuro */
.dark-theme {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-theme header, .dark-theme footer {
    background-color: #1f1f1f;
}

.dark-theme .mensagens, .dark-theme .noticias, .dark-theme .aulas {
    background-color: #333333;
}

/* Tema Azul */
.blue-theme {
    background-color: #007BFF;
    color: white;
}

.blue-theme header, .blue-theme footer {
    background-color: #0056b3;
}

.blue-theme .mensagens, .blue-theme .noticias, .blue-theme .aulas {
    background-color: #3399FF;
}

.mensagens, .noticias, .aulas {
    margin-bottom: 32px;
}

/* Layout das aulas */
.aulas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}

/* Rodapé */
footer {
    padding: 32px 0;
    text-align: center;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.card {
    min-width: 100%;
    text-align: center;
}

.card img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.info {
    padding: 10px;
    color: #333;
}

/* Tema Padrão */
.default-theme .info {
    color: #333;
}

.default-theme .carousel-container {
    background-color: #fff; 
}

.default-theme .card {
    background-color: #fff; 
}

.default-theme .card img {
    filter: brightness(0.9); 
}

/* Tema Escuro */
.dark-theme .info {
    color: #e0e0e0; 
}

.dark-theme .carousel-container {
    background-color: #333; 
}

.dark-theme .card {
    background-color: #444; 
}

.dark-theme .card img {
    filter: brightness(1.1); 
}

.blue-theme .info {
    color: #fff; 
}

.blue-theme .carousel-container {
    background-color: #0056b3; 
}

.blue-theme .card {
    background-color: #3399FF; 
}

.blue-theme .card img {
    filter: brightness(0.8);
}

button {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 10px;
}

#prevBtn { left: 10px; }
#nextBtn { right: 10px; }

@media (max-width: 896px) {
    body {
        padding: 32px 16px;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .aulas {
        grid-template-columns: 1fr;
    }
}
